.header {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  padding: 0px 20px 0px 35px;

  /* background-color: rgb(226, 180, 189); */
  background-color: rgb(252, 222, 222);

}

@media (max-width: 950px) {
  .header-name,
  .header-links {
    display: none;
  }
  .header {
    justify-content: space-around;
  }
}
@media (max-width: 550px) {
  .header-title-resize {
    font-size: 20px;
  }
}

.header-name {
  /* color: white; */
  /* color: rgb(17, 38, 73); */
  width: 200px;
}
.logo {
  width: 100%;
}

.header-title {
  /* color: white; */
  color: rgb(17, 38, 73);
  font-size: 35px;
  font-weight: 700;
}

.header-links {
  /* color: white; */
  color: rgb(17, 38, 73);
  width: 150px;
}