
.position-statement {
  /* background-color: lightblue; */
  color: white;
  font-weight: 700;
  font-size: 27.5px;
  margin-bottom: 20px;
}

.ps-info {
  display: grid;
  grid-template-columns: 3fr 6fr;
  column-gap: 100px;
}

@media (max-width: 700px) {
  .ps-info {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-around;
  }
}

.ps-info-thumbnail {
  background-color: lightpink;
  min-width: 200px;
}

.ps-info-paragraph {
  /* background-color: lightgray; */
  padding: 5px 5px 5px 5px;
  color: white;
  align-items: center;
  font-size: 20px;
}

.portfolio {
  /* background-color: lightblue; */
  margin-top: 50px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

.thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .thumbnails {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .thumbnails {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1500px) {
  .thumbnails {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

