.header {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 112px;

  align-items: center;
  justify-content: space-between;

  z-index: 100;

  padding: 0px 50px 0px 20px;
}

.header-logo {
  width: 200px;
}
.logo {
  width: 100%;
}

.links-and-resume {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  width: 500px;
}