.main-body-title {
  /* background-color: lightblue; */
  color: white;
  font-weight: 700;
  font-size: 27.5px;
  margin-bottom: 20px;
}
.explanation {
  display: grid;
  row-gap: 60px;
}

.explanation-1,
.explanation-2,
.explanation-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 75px;
}

.explanation-1-paragraph{
  /* background-color: lightgray; */
  padding: 5px 5px 5px 5px;
  color: white;
  align-items: center;
  font-size: 20px;
}
.explanation-1-photo {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s;
}
.e1-photo {
  width: 100%;
  border-radius: 20px;
  transition: border-radius 0.2s;
}
.e1-photo:hover {
  border-radius: 3px;
}
.e1-photo:hover {
  opacity: 0.8;
}

.explanation-2-paragraph {
  /* background-color: lightgray; */
  padding: 5px 5px 5px 5px;
  color: white;
  align-items: center;
  font-size: 20px;
}
.explanation-2-photo {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s;
}
.e2-photo {
  width: 100%;
  border-radius: 20px;
  transition: border-radius 0.2s;
}
.e2-photo :hover {
  border-radius: 3px;
}
.e2-photo :hover {
  opacity: 0.8;
}

.explanation-3-paragraph {
  /* background-color: lightgray; */
  padding: 5px 5px 5px 5px;
  color: white;
  align-items: center;
  font-size: 20px;
}
.explanation-3-photo {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s;
}
.e3-photo {
  width: 100%;
  border-radius: 20px;
  transition: border-radius 0.2s;
}
.e3-photo:hover {
  border-radius: 3px;
}
.e3-photo:hover {
  opacity: 0.8;
}

.photos-title {
  /* background-color: lightblue; */
  color: white;
  font-weight: 700;
  font-size: 27.5px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 50px;
}