.header {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  align-items: center;
  justify-content: space-between;

  padding: 0px 20px 0px 20px;

  background-color: rgb(226, 180, 189);

}

@media (max-width: 650px) {
  .header-name,
  .header-links {
    display: none;
  }
  .header {
    justify-content: space-around;
  }
}

.header-name {
  color: white;
}

.header-title {
  color: white;
}

.header-links {
  color: white;
}